.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
	font-family: bold-text;
}
.footer_info {
	font-size: 0.95rem;
	color: grey;
	font-style: oblique;
	font-family: light-text;
}
.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	font-family: bold-text;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
	color: grey;
	font-style: oblique;
	font-family: light-text;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}
.card_title {
	font-family: bold-text;
	font-size: 1.3rem;
}
.card_footer {
	color: grey;
	font-style: oblique;
	font-family: light-text;
}
.info {
	font-family: light-text;
}
.logo {
	height: 1em;
	margin-left: 0.5rem;
}
.green {
	color: #00c805 !important;
	font-family: light-text !important;
	font-weight: bold;
}
.red {
	color: #fa5801 !important;
	font-family: light-text !important;
	font-weight: bold;
}
.error_main {
	font-family: bold-text;
	display: flex;
	overflow: hidden;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.error_main_nested {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.error_main_text {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 700;
}
@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
